/** {
    border: 1px solid red !important;
} */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin:0;
}
.container{
  width: 1300px;
  margin-right: 0px;
  margin-left:0px;
}

.main-body{
  background-color: #F7F5E6;
  background-size: cover;
  text-align: center;
  color: #333A56;
  padding-top: 15%;
  padding-bottom: 15%;


}
.connect{
  padding-top: 100px;
}
.custom-panel{
  background-color: #526585;
  text-align: center;
  color: #E8E8E8;
}
.arrange-project{
padding-top: 15%;
text-align:center;
align-items: center;

}
